<!doctype html>
<html>
<head>
	<meta charset="utf8">
	<title><%= @title + '| DogeMinder'%></title>
</head>
<body>
	<div class="header">
		<h1>DogeMinder</h1>
		<h3> Much Forgetful. So Concern. Such Reminder. </h3>
	</div>
	
	<div id="main">
		<%= yield %>
	</div>

	<div class="footer">
		<p>A just for fun practice app.</p>
	</div>
</body>
</html>